 Q1. Create one variable containing following type of data:
 (i)	string
 (ii)	list
 (iii)	float
 (iv)	tuple

In [1]:
name="suru"
l=[35,54.45,"jugnu",True]
f=45.76
t=(34,5435,"motii",7+6j,False)

In [2]:
type(name)

str

In [3]:
name

'suru'

In [4]:
type(l)

list

In [5]:
l

[35, 54.45, 'jugnu', True]

In [6]:
type(f)

float

f

In [7]:
type(t)

tuple

In [8]:
t

(34, 5435, 'motii', (7+6j), False)

 Q2. Given are some following variables containing data:
 (i)	var1 = ‘ ‘
 (ii)	var2 = ‘[ DS , ML , Python]’
 (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
 (iv)	var4 = 1.
What will be the data type of the above given variable

ANS = 1)char 2)string 3)list 4)float

 Q3. Explain the use of the following operators using an example:
 (i)	/
 (ii)	% 
(iii)	//
 (iv)	**

In [9]:
#(i) /:-Division
#(ii) % :- Modulus
#(iii) //:-Floor Division
#(iv) **:-Exponentiation

a=10
b=3

Division=a/b
Modulus=a%b
Floor_Division=a//b
Exponentiation=a**b

print(Division)
print(Modulus)
print(Floor_Division)
print(Exponentiation)

3.3333333333333335
1
3
1000

 Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [10]:
l1=[34,65.78,"suru",[46,45,3,32,6],6+7j,True,"jugnu",(45,67.7,"motii"),74.5,"pagal"]

In [11]:
type(l1)

list

In [12]:
for i in l1:
    print(i)

34
65.78
suru
[46, 45, 3, 32, 6]
(6+7j)
True
jugnu
(45, 67.7, 'motii')
74.5
pagal

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [17]:
a=int(input("Enter a="))
b=int(input("Enter b="))
divisible=0

while a%b==0:
    a=a//b
    divisible +=1
if divisible > 0:
    print("Purely divisible", divisible, "times")
else:
    print("Not purely divisible")

Enter a= 100000
Enter b= 2

Purely divisible 5 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [14]:
l1=[]
for i in range(0,24):
    l1.append([i])
    if i%3==0:
        print(i)

0
3
6
9
12
15
18
21

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.
    
Ans ->  The mutable data type are those data which can be which can be change or modify or deleted on declaretion 
for example list , int , char
The unmutable data type are those data which can not  be which can be change or modify or deleted on declaretion 
for example tuple , string